* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}
.background-form{
    background-image: url('https://account.zedge.net/assets/39c21da069cb5d01cc0964a0cb021818.svg');
}