@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}